          <div class="">
            <div class="clearfix"></div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                          <!-- <div class="x_panel"> -->
                            <!-- <div class="x_title">
                              <h2>地图展示</h2>
                              <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li class="dropdown">
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                 
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                              </ul>
                              <div class="clearfix"></div>
                            </div> -->
                            <div id="allmap" style="width:100%;height:400px;"></div>
                            
                          <!-- </div> -->
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                          <!-- <div class="x_panel"> -->
                            <!-- <div class="x_title">
                              <h2>数据展示</h2>
                              <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li class="dropdown">
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                               
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                              </ul>
                              <div class="clearfix"></div>
                            </div> -->
                            <div class="x_content"  style="color:white;background-color:#3084dc">
                            <table>
                              <tr>
                                <td>
                                <div  align="center">
                                  <p style="font-size:25px">秦皇岛</p>
                                </div>
                                <table class="table  " style="border:0">
                                    <thead>

                                    <tr>                                        
                                        <th>
                                          <div style="font-size:70px">106</div>
                                        </th>
                                        <th>
                                        <div style="font-size:100px"></div> AQI等级
                                        <div style="background-color:#FA8258">轻度污染</div>
                                        </th>
                                        
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>                                        
                                        <td>首要污染物<strong>PM2.5</strong></td>
                                                                                
                                    </tr> 
                                    <tr></tr>
                                    </tbody>
                                </table>
                                  <table class="table" style="border-left-style: none; border-right-style: none; ">
                                      <thead>
                                      <tr>
                                          
                                          <th style="background-color:#81BEF7">
                                            SO2
                                          </th>
                                          <th>15ug/m3</th>
                                          <th style="background-color:#81BEF7">
                                           NO2
                                          </th>
                                          <th>46ug/m3</th>
                                      </tr>
                                      </thead>
                                      <tbody>
                                      <tr>
                                          
                                          <td style="background-color:#81BEF7"> PM2.5
                                          </td>
                                          <td>13ug/m3</td>
                                          <td style="background-color:#81BEF7">
                                           PM10
                                          </td>
                                          <td>41ug/m3</td>
                                      </tr>                                 

                                      <tr>                                          
                                          <td style="background-color:#81BEF7">
                                           CO
                                          </td>
                                          <td>0.6mg/m3</td>
                                          <td style="background-color:#81BEF7">
                                          O3
                                          </td>
                                          <td>95ug/m3</td>
                                      </tr>                                 

                                      </tbody>
                                  </table>
                                
                                <td>
                                  <table class="table " >
                                      <thead>
                                      <tr>
                                          
                                          <th>
                                              <div>周四<br>08月11<br>预报</div>
                                          </th>
                                          <th>
                                            <div> 周五<br>08月12<br>预报</div>                              
                                          </th>
                                          <th>
                                          <div>周六<br>08月13<br>预报</div>
                                          
                                          </th>
                                      </tr>
                                      </thead>
                                      <tbody>
                                      <tr>                                         
                                          <td>
                                            重度污染<br>101-112<br>PM2.5
                                          </td>
                                          <td>
                                          轻度污染<br>96-105<br>PM2.5
                                          </td>
                                          <td>
                                          轻度污染<br>62-85<br>PM2.5
                                          </td>
                                      </tr>
                                     
                                      
                                      </tbody>
                                  </table>
                                </td>
                              </tr>
                              
                            </table>
                            </div>
                         <!--  </div> -->
                        </div>
                        <div class="col-md-12">
                          <!-- <div class="x_panel"> -->
                            <!-- <div class="x_title">
                              <h2>图表展示</h2>
                              <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li class="dropdown">
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                              
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                              </ul>
                              <div class="clearfix"></div>
                            </div> -->
                            <!-- <div class="x_content"> -->
                            <div id="main" style="width: 100%;height:400px;"></div>
                            <!-- </div> -->
                         <!--  </div> -->
                        </div>
                      </div>   