<div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>模式预报分析</h3>
              </div>
            </div>

            <div class="clearfix"></div>

            


              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <table class="table table-bordered">
                      <thead>
               
                 <tr>
                  <th rowspan="3" colspan="1">日期</th>
                  <th rowspan="1" colspan="14">秦皇岛未来四天污染物浓度及空气质量指数</th>
                  <th rowspan="1" colspan="6">单位:ug/m³(co是mg/m³,AQI无纲量)</th>
               </tr>
                <tr>
                  <th rowspan="1" colspan="2" >SO2 24小时平均</th>
                  <th rowspan="1" colspan="2">NO2 24小时平均</th>
                  <th rowspan="1" colspan="2"" >PM10 24小时平均</th>
                  <th rowspan="1" colspan="2" >PM2.5 24小时平均</th>
                  <th rowspan="1" colspan="2"> CO24小时平均</th>
                  <th rowspan="1" colspan="2">O3最大一小时平均</th>
                  <th rowspan="1" colspan="2">O3最大八小时平均</th>
                  <th rowspan="2" colspan="1">AQI</th>
                  <th rowspan="2" colspan="1">首要污染物</th>
                  <th rowspan="2" colspan="1">级别</th>
                </tr>
                <tr>
                  <th rowspan="1" colspan="1">浓度</th>
                  <th rowspan="1" colspan="1">分指数</th>
                  <th rowspan="1" colspan="1">浓度</th>
                  <th rowspan="1" colspan="1">分指数</th>
                  <th rowspan="1" colspan="1">浓度</th>
                  <th rowspan="1" colspan="1">分指数</th>
                  <th rowspan="1" colspan="1">浓度</th>
                  <th rowspan="1" colspan="1">分指数</th>
                  <th rowspan="1" colspan="1">浓度</th>
                  <th rowspan="1" colspan="1">分指数</th>
                  <th rowspan="1" colspan="1">浓度</th>
                  <th rowspan="1" colspan="1">分指数</th>
                  <th rowspan="1" colspan="1">浓度</th>
                  <th rowspan="1" colspan="1">分指数</th>
                </tr>
              </thead> 
                      <tbody>
                        <tr>
                        <td>2016-08-01</td>
                        <td>80</td>
                        <td>62</td>
                        <td>65</td>
                        <td>78</td>
                        <td>167</td>
                        <td>109</td>
                        <td>147</td>
                        <td>96</td>
                        <td>1.2</td>
                        <td>30</td>
                        <td>107</td>
                        <td>34</td>
                        <td>85</td>
                        <td>43</td>
                        <td>196</td>
                        <td>PM2.5</td>
                        <td>中度污染</td>
                      </tr>
                      <tr>
                        <td>2016-08-02</td>
                        <td>81</td>
                        <td>66</td>
                        <td>65</td>
                        <td>78</td>
                        <td>167</td>
                        <td>123</td>
                        <td>147</td>
                        <td>96</td>
                        <td>1.1</td>
                        <td>30</td>
                        <td>107</td>
                        <td>34</td>
                        <td>122</td>
                        <td>43</td>
                        <td>180</td>
                        <td>PM2.5</td>
                        <td>中度污染</td>
                      </tr>
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>

              <div class="clearfix"></div>

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Line Graph</h2>
                  
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div id="main" style="width: 1200px;height:400px;"></div>
       
                  </div>
                </div>
              </div>

              
            </div>
          </div>
           <script type="text/javascript">     
      var myChart = echarts.init(document.getElementById('main'));
      var option = {
          title: {
              text: '秦皇岛未来四天AQI趋势图'
          },
          tooltip: {
              trigger: 'axis'
          },
          legend: {
              data:['NAQPMS','CMAQ','CAMX','WRFCH','集合预报','动力统计','动力统计']
          },
          grid: {
              left: '3%',
              right: '4%',
              bottom: '3%',
              containLabel: true
          },
          toolbox: {
              feature: {
                  saveAsImage: {}
              }
          },
          xAxis: {
              type: 'category',
              boundaryGap: false,
              data: ['8月3','8月4','8月4','8月5']
          },
          yAxis: {
              type: 'value'
          },
          series: [
              {
                  name:'NAQPMS',
                  type:'line',
                  stack: '总量',
                  data:[120, 132, 101, 134]
              },
              {
                  name:'CMAQ',
                  type:'line',
                  stack: '总量',
                  data:[220, 182, 191, 234]
              },
              {
                  name:'CAMX',
                  type:'line',
                  stack: '总量',
                  data:[150, 232, 201, 154]
              },
              {
                  name:'WRFCH',
                  type:'line',
                  stack: '总量',
                  data:[320, 332, 301, 334]
              },
              {
                  name:'集合预报',
                  type:'line',
                  stack: '总量',
                  data:[820, 932, 901, 934]
              },
                {
                  name:'动力统计',
                  type:'line',
                  stack: '总量',
                  data:[320, 332, 301, 334]
              },
                {
                  name:'神经网络',
                  type:'line',
                  stack: '总量',
                  data:[320, 332, 301, 334]
              }
          ]
      };
        myChart.setOption(option);
    </script>