          <div class="">
            <div class="clearfix"></div>
                  <div class="x_content">
                    <ul id="myTab" class="nav nav-tabs">
                      <li class="active">
                        <a href="#ding" data-toggle="tab">
                          订正回顾</a>
                      </li>
                      <li><a href="#yu" data-toggle="tab">预报订正</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                      <div class="tab-pane fade in active" id="ding">
                      <label>订正时次：</label>
                      <select>
                      <option>10时</option>
                      <option>11时</option>
                      <option>12时</option>
                      <option>13时</option>
                      </select>
                        <table class="table table-bordered">
                         <thead>
                           <tr>
                           <th rowspan="1">预报模式</th>
                           <th colspan="3">08月02号</th>
                           </tr>
                           <tr>
                           </tr>
                         </thead> 
                        </table>
                      </div>
                      <div class="tab-pane fade" id="yu">
                      <label>订正时次：</label>
                      <select>
                      <option>10时</option>
                      <option>11时</option>
                      <option>12时</option>
                      <option>13时</option>
                      </select>
                       <table class="table table-bordered">
                         <thead>
                           <tr>
                           <th rowspan="1">预报模式</th>
                           <th colspan="3">08月03号</th>
                           </tr>
                           <tr>
                           </tr>
                         </thead> 
                        </table>
                      </div>
                      </div>
            </div>
          </div>