      <div class="right_col" role="main">
          <div class="">
            <div class="clearfix"></div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                          <div class="x_panel">
                            <div class="x_title">
                              <h2>站点一</h2>
                              <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li class="dropdown">
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                  <!--<ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Settings 1</a>
                                    </li>
                                    <li><a href="#">Settings 2</a>
                                    </li>
                                  </ul>-->
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                              </ul>
                              <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div id="zddbfx" style="width:100%;height:350px;"></div>
                            </div>
                          </div>
                        </div>
                      </div>
          </div>
                   <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('zddbfx'));

       var  option = {
    title: {
        text: 'AQI',
        subtext: '纯属虚构'
    },
    tooltip: {
        trigger: 'axis'
    },
    legend: {
        data:['NAQPMS', '实例']
    },
    //进行视图的转换，刷新，保存图片
    toolbox: {
        show: true,
        feature: {
            dataView: {readOnly: false},
            restore: {},
            saveAsImage: {}
        }
    },
    dataZoom: {
        show: false,
        start: 0,
        end: 100
    },
    xAxis: [
        {
            type: 'category',
            boundaryGap: true,
            data: (function (){
                var now = new Date();
                var res = [];
                var len = 10;
                while (len--) {
                    res.unshift(now.toLocaleTimeString().replace(/^\D*/,''));
                    now = new Date(now - 2000);
                }
                return res;
            })()
        },
        {
            type: 'category',
            boundaryGap: true,
            data: (function (){
                var res = [];
                var len = 10;
                while (len--) {
                    res.push(len + 1);
                }
                return res;
            })()
        }
    ],
    yAxis: [
        {
            type: 'value',
            scale: true,
            name: '价格',
            max: 30,
            min: 0,
            boundaryGap: [0.2, 0.2]
        },
        {
            type: 'value',
            scale: true,
            name: '预购量',
            max: 1200,
            min: 0,
            boundaryGap: [0.2, 0.2]
        }
    ],
    series: [
        {
            name:'实例',
            type:'bar',
            xAxisIndex: 1,
            yAxisIndex: 1,
            data:(function (){
                var res = [];
                var len = 10;
                while (len--) {
                    res.push(Math.round(Math.random() * 1000));
                }
                return res;
            })()
        },
        {
            name:'NAQPMS',
            type:'line',
            data:(function (){
                var res = [];
                var len = 0;
                while (len < 10) {
                    res.push((Math.random()*10 + 5).toFixed(1) - 0);
                    len++;
                }
                return res;
            })()
        }
    ]
};
// clearInterval(app.timeTicket);
// app.count = 11;
// app.timeTicket = setInterval(function (){
//     axisData = (new Date()).toLocaleTimeString().replace(/^\D*/,'');

//     var data0 = option.series[0].data;
//     var data1 = option.series[1].data;
//     data0.shift();
//     data0.push(Math.round(Math.random() * 1000));
//     data1.shift();
//     data1.push((Math.random() * 10 + 5).toFixed(1) - 0);

//     option.xAxis[0].data.shift();
//     option.xAxis[0].data.push(axisData);
//     option.xAxis[1].data.shift();
//     option.xAxis[1].data.push(app.count++);

//     myChart.setOption(option);
// }, 2100);


        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>