<%= render partial:"qinhuangdao/banner",locals:{banner:@banner}%>
<!--城市空气质量比较曲线模块-->
  <div style="text-align:center;">
    <iframe src="/qinhuangdao/sfcities_compare" frameborder="0" width="99%" scrolling="NO" height="595" leftmargin="0"  topmargin="0"></iframe>
  </div>

<!--秦皇岛区县空气质量比较曲线模块-->
  <div style="text-align:center;">
    <iframe src="/qinhuangdao/qhdqx_compare" frameborder="0" width="99%" scrolling="NO" height="595" leftmargin="0"  topmargin="0"></iframe>
  </div>
<% content_for :nav do %>
	$('.navigation li .compare').addClass('current-link');
<% end %>
