<%= render partial:"qinhuangdao/banner",locals:{banner:@banner}%>
<div class='containerbd' style="text-align:center;">
				<iframe id="ltjcIframe" src="http://60.10.151.97:8090/new/" frameborder="0" width="99%" scrolling="No" height="956" leftmargin="0"  topmargin="0"></iframe>
</div>
<% content_for :nav do %>
	$('.navigation li .ltjc').addClass('current-link');
<% end %>