<div style="text-align:center;">
<iframe src="http://www.zq12369.com/palm_baoding/baodingmap.php" frameborder="0" width="100%" scrolling="No" height="900" leftmargin="0"  topmargin="0"></iframe>
</div>