<!-- NOTE: the casein:scaffold generator automatically appends new controllers to this file. The SCAFFOLD_INSERT line must NOT be removed -->
<!-- SCAFFOLD_INSERT -->
<li id="tab-forecast_daily_data"><%= link_to "Forecast daily data", casein_forecast_daily_data_path %></li>