<div class="container">
  <h1>公司简介</h1>
  <p>
  保定海宏环保科技有限公司位于具有“京畿重地”之称的古城保定，交通便利，历史沉淀悠久，高新技术企业众多。本公司专门从事节能环保监测产品和相关环保软件的研究、开发、生产、安装，计算机软件开发、技术服务、销售及系统集成；环保工程、机电工程、电子工程、节能工程设计、施工等为一系列完整的环保服务，本公司依靠雄厚的开发实力和来自不同领域、不同专业的专家学者能为政府、企业和社会公众带来巨大的经济效益和社会效益，为古城保定的环保事业奉献出自己的全部力量。
  </p>
  <h1>核心技术</h1>
  <li>
  1.空气质量智能实时管控平台”（PALM，Platform for AQ inteLligent Management），该平台集“在线源追踪解析、重污染超前预测应急、靶向治理和生态环境循环优化”于一体，集中了国内外六个领域70余位专家的核心技术，有针对性地开发了“污染源化学组分在线质谱分析系统、二次气溶胶机理分析及评估系统、重污染天气实时预警预报系统、靶向治理及节能提效系统、生态规划及生态消霾系统”。
  </li>
  <li>
  2.PALM平台的伴随模式---源追踪方法。PALM平台改变了原有大气污染源复杂、准确率低的统计方法，采用新型的伴随模式分析方法，能够便捷且精细的计算出各地区污染排放对当地空气污染的敏感性（贡献大小）。
  </li>
  <li>
3.预警预报系统—CUACE
基础空气质量模拟系统CUACE是源于目前正在中央气象台业务运行的中国雾霾预报预警系统CUACE/Fog-Haze。CUACE的组成包括：（1）一个天气预报系统，为模式提供准确的天气形势预报和污染物传递；（2）一个综合的大气化学数值模拟系统，模拟大气中气态物 质的光化学反应和气溶胶形成以及气溶胶在大气中的理化过程，如核化，碰并，凝结，吸湿增长，干湿沉降等等，最终获得污染颗粒物的时空分布；（3）数值同化系统，利用近实时监测数据改进预报结果；（4）预报产品处理系统，提供如PM2.5、PM10和能见度等的预报结果。
</li>
  <h1>社会效应</h1>
  <p>
  能为企业用户提供量身定做的环保技术和环保服务，帮助企业在保证现有生产能力基础上切实节能减排，合理利用企业生产资源，创造更大的经济价值；协助政府和环保局等公共权力部门落实国家环保政策法规，为城市大气污染治理提供合理、可行的解决方案和举措，科学有效的解决城市在PM2.5防治过程中普遍存在的“排放底数不清”、“形成机理不明”和“系统治理不足”的三大主要问题；提高社会公众对大气污染问题的关注度和积极性，发动社会公众参与到城市空气质量的监督活动中，并且能够为社会公众提供价格实惠、防治效果出众的空气质量检测和防治设备。
  </p>
</div>
