<div class="container">
  <div class="jumbotron">
    <h1>城市污染源解析与治理咨询服务</h1>
  </div>

  <div class="row">
    <div class="col-xs-3" id="myScrollspy">
      <ul class="nav nav-tabs nav-stacked" data-spy="affix" data-offset-top="125">
        <li class="active"><a href="#section-1">省级案例</a></li>
        <li><a href="#section-2">市级案例</a></li>
        <li><a href="#section-3">县级案例</a></li>
      </ul>
    </div>
    <div class="col-xs-9">
      <h2 id="section-1">省级案例</h2>
      <p> 
      环保部应急预案修编项目 
      </p>
      <hr>
      <h2 id="section-2">市级案例</h2>
      <p>
    <div class="col-xs-4">
      廊坊市应急预案修编项目 
    </div>
    <div class="col-xs-4">
      保定市应急预案修编项目 
    </div>
    <div class="col-xs-4">
      唐山市应急预案修编项目 
    </div>
      </p>
      <hr>
      <h2 id="section-3">县级案例</h2>
      <p>
    <div class="col-xs-6">
      清苑县应急预案修编项目 
    </div>
    <div class="col-xs-6">
      安国市应急预案修编项目 
    </div>
      </p> 
    </div>
  </div>

</div>
