<div class="container">
  <h1>成功案例</h1>
  <li>
  通过在河北省保定市、廊坊市进行的科学试验示范，验证了该方法的可行性和有效性，为污染来源解析、应对重污染天气、靶向治理提供了一个新的科学解决路径。
  </li>
  <li>
  源追踪方法已经在保定、廊坊和唐山等多地进行了验证，可以准确、快速地分析出大气中各污染物的组成成分。
  </li>
  <li>
目前已经和环保部共同参与制定保定市应急预案修编及过程中的科学支撑，以及廊坊市应急预案修编科学支撑、唐山市应急预案修编科学支撑等城市的科学支撑工作。
  </li>
  
</div>
