<div class="container">
  <div class="jumbotron">
    <h1>城市污染源解析与治理咨询服务</h1>
  </div>

  <div class="row">
    <div class="col-xs-3" id="myScrollspy">
      <ul class="nav nav-tabs nav-stacked" data-spy="affix" data-offset-top="125">
        <li class="active"><a href="#section-1">省级案例</a></li>
        <li><a href="#section-2">市级案例</a></li>
        <li><a href="#section-3">县级案例</a></li>
      </ul>
    </div>
    <div class="col-xs-9">
      <div class="row">
        <h2 id="section-1">省级案例</h2>
        <div class="col-xs-12" style="margin-bottom:10px;">
          <p style="font-size:20px;"> 
            环保部应急预案修编技术支撑 
          </p> 
            <div class="col-xs-9" style="float: right;margin-bottom:10px;">——污染源解析评估</div>    
        </div>
        <div class="col-xs-12">
          <p style="text-indent:2em;">“千人计划”PM2.5特别防治专家小组，通过在保定建立的集空气质量预报预警、大气排放动态源清单、空气污染气象条件预报、评估等功能于一体的PALM平台，针对与环保部共同制定的市级《应急预案》中的减排效果评估、应急响应提前量时间的确定、不同预警级别减排率的评估、预警分级评估、预警解除条件的论证提供了重要的科学技术依撑，指导城市重污染天气科学应对。</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <h2 id="section-2">市级案例</h2>
        <div class="col-xs-12" style="margin-bottom:10px;">
          <p style="font-size:20px;">城市应急预案修编技术支撑</p>
          <p style="magrin-bottom:10px;">
            <div class="col-xs-9" style="float: right;margin-bottom:10px;">——城市污染源解析与治理技术评估</div>
          </p>
          <p>
            <div class="col-xs-6">
              廊坊市应急预案修编项目 (已完成)
            </div>
            <div class="col-xs-6">
              保定市应急预案修编项目 (已完成)
            </div>
            <div class="col-xs-6">
              唐山市应急预案修编项目 (已完成)
            </div>
            <div class="col-xs-6">
              郑州市应急预案修编项目 (接洽中)
            </div>
          </p>
        </div>
        <div class="col-xs-12">
          <p style="text-indent:2em;">通过化学组成的实时在线监测，为颗粒物来源分析提供了化学示踪数据；利用实时源解析和气象因素的影响可以对每个重污染天气的形成，提供初步分析，寻找出每次重污染事件的主要控制因素，为重污染天气重点管控措施的实施提供科学依据。通过系统分析PM2.5质量浓度以及各污染源随时间变化的趋势、气象条件造成的吸湿度增长，及在相对湿度增加的过程中各源类对二次有机气溶胶加速形成的放大效应，为应急预案的修编提供有力的科学数据支撑。同时，也为政府部门制定大气污染防治规划提供依据，对确定污染治理重点和环境管理有十分重要的指导意义。</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <h2 id="section-3">县级案例</h2>
        <div class="col-xs-12" style="margin-bottom:10px;">
          <div class="col-xs-6">
            清苑县应急预案修编项目 
          </div>
          <div class="col-xs-6">
            安国市应急预案修编项目 
          </div>
        </div>
        <div class="col-xs-12"> 
          <p style="text-indent:2em;">为了指导城市科学应对大气污染任务的达成，尽快摸清PM2.5的污染来源，制定靶向治理方案，特提供城市大气污染源解析与治理咨询服务。旨在科学合理减排达标指标设计、污染源源解析、气象及跨界输送等因素的综合分析，最终形成大气污染源解析与靶向治理技术方案，指导我市科学应对。
          通过第三方社会化监管服务，有效督促各措施方案的落实。</p>
        </div>
      </div>
    </div>
  </div>

</div>
