<%= render partial:"welcome/banner",locals:{banner:@banner}%>
<!--城市空气质量比较曲线模块-->
  <div style="text-align:center;">
    <iframe src="/sfcities_compare" frameborder="0" width="99%" scrolling="NO" height="595" leftmargin="0"  topmargin="0"></iframe>
  </div>

<!--秦皇岛区县空气质量比较曲线模块-->
  <div style="text-align:center;">
    <iframe src="/bdqx_compare" frameborder="0" width="99%" scrolling="NO" height="595" leftmargin="0"  topmargin="0"></iframe>
  </div>
