<div class="container">
  <div id="map3" style="height:400px" class="col-xs-8"></div>
  <div class="col-xs-6" style="height:400px">
    <h1> Go Map !</h1>
  </div>
  <div class="col-xs-6" style="height:400px">
    <h1> Go Map !</h1>
  </div>
</div>
<script src="assets/map_welcome.js"></script>
