
/* CSS Document */

.box button{ box-sizing: content-box;}
.container1{ width:1100px; margin:0 auto; padding-top:20px;}
.top11-title{ font-family:"微软雅黑"; font-size:24px; padding-left:20px; font-weight:normal;}
.top11{border:0px solid;}
#kqzlpm{border:0px solid;margin-top:0px;margin-left:-15px;height:20px;float:left;}
.bluegreen{  color:#fff; background:#10c2ce;}
.green{ background:#5cb85c; color:#fff;}
.top11-color-title.blue{ color:#fff; background:#7ca9e6;}

/*顶部导航*/
.top-nav,big-blue{width:100%;}
.navigation{position:relative; width:1100px; margin:0 auto; text-align:right; font-family:"微软雅黑"; font-size:18px; height:56px; line-height:56px; }
.navigation a{ color:#333; text-decoration:none; padding-left:50px;}
.navigation a:hover{ color:#259ae1;}
.navigation a.current-link{ color:#259ae1;}
