
/* CSS Document */

.box button{ box-sizing: content-box;}
.container1{ width:1100px; margin:0 auto; padding-top:20px;}
.top11-title{ font-family:"微软雅黑"; font-size:24px; padding-left:20px; font-weight:normal;}
.top11{border:0px solid;}
#kqzlpm{border:0px solid;margin-top:0px;margin-left:-15px;height:20px;float:left;}
.bluegreen{  color:#fff; background:#10c2ce;}
