
/* CSS Document */

.box button{ box-sizing: content-box;}
.container1{ width:1100px; margin:0 auto; padding-top:20px;}
.top11-title{ font-family:"微软雅黑"; font-size:24px; padding-left:20px; font-weight:normal;}
.top11{border:0px solid;}
#kqzlpm{border:0px solid;margin-top:0px;margin-left:-15px;height:20px;float:left;}
.bluegreen{  color:#fff; background:#10c2ce;}
.green{ background:#5cb85c; color:#fff;}
.top11-color-title.blue{ color:#fff; background:#7ca9e6;}

/*顶部导航*/
.top-nav,big-blue{width:100%;}
.navbar,big-blue{width:100%;}
.top-nav>div{position:relative; width:1100px; margin:0 auto;text-align:right; font-family:"微软雅黑"; font-size:18px; height:56px; line-height:56px; }
.navigation{ float:right }
.navigation>li>a{ color:#333; text-decoration:none; margin-left:50px;}
.navigation li>a{ color:#333; text-decoration:none;}
.navigation li>a:hover{ color:#259ae1;}
.navigation li>a.current-link{ color:#259ae1;}

.navigation>li{float:left;list-style:none;}
.navigation li a{ color:#333; text-decoration:none;}
.navigation li a:hover{ color:#259ae1;}
.navigation li a.current-link{ color:#259ae1;}
.navigation li .dropdown-menu{min-width:0}

/*cityselect*/
.citySelector{  font:12px/1.5 tahoma,arial,\5b8b\4f53; background: #fff; }
.cityslide {width:250px; list-style:none; margin:0;padding:0; border: 1px solid #85BEE5; border-right-color: #3485C0; border-bottom-color: #3485C0;box-shadow: 2px 2px 3px rgba(0,0,0,0.3);  margin-top:-2px;}
.cityslide li { list-style:none; overflow:hidden;  height:25px; padding:4px 5px;}
.cityslide li.on{background:#9CD9FF; color:#fff;}
.cityslide li b { font-weight:normal;}
.cityslide li.empty{ background: #fff2e8; color: #666;}
.cityslide li.empty em{color: red; font-style:normal;}
.cityname {float:left;}
.cityspell {float:right;}
.cityBox{ width: 400px; border: 1px solid #85BEE5; overflow: hidden; box-shadow: 2px 2px 3px rgba(0,0,0,0.3);}
.cityBox ul{ margin: 0; padding: 0; overflow: hidden;}
.cityBox ul li{ float: left; list-style: none; padding: 2px 4px; border: 1px solid #85BEE5; cursor:pointer; margin-left: 4px; display: inline; background: #E1EFFE;}
.cityBox ul li.on{ background: #fff; border-bottom-color:#fff; position: relative;}
.hide{ display: none;} 
p.citytip{ color:#666; line-height: 20px; padding: 5px; margin: 0; text-indent: 3px;}
.hotCity{ border-top: 1px solid #85BEE5; margin-top: -1px; clear:left; overflow: hidden; padding-bottom: 5px; padding-top: 5px; _margin-bottom:8px;}
.cityTab{overflow: hidden;}
.cityTab dl{ margin:0; padding: 0; overflow: hidden; }
.cityTab dl dt{float: left; padding-left: 3px;color: #F30;text-indent: 5px; font-family: "Lucida console","consolas","courier new";line-height: 22px; font-size: 14px; width: 20px;}
.cityTab dl dd{ margin-left:2px; float:left; width: 360px;}
.cityTab dl dd a{ padding-left:5px; width:66px; line-height: 22px; display: inline-block; color: #000; text-decoration: none;}
.cityTab dl dd a:hover{text-decoration:underline; color: red}


.cityinputBox{height: 28px;line-height: 28px;margin-left: 5px;}
.cityinput{
padding: 1px 0 1px 2px;
border: 1px solid #95B8E7;
height: 23px;
line-height: 23px;
width: 85px;
font-size: 12px;
vertical-align:middle;
background: url(searchlogo.png) no-repeat 60px 3px;
}
.content{ width:1100px; margin:0 auto;}
.content td{ vertical-align:top;}
.menu{ overflow:hidden;}
.menu li{ margin:0px 20px;  float:left; font-family:"微软雅黑"; color:#269ae2; font-size:18px; text-align:center; height:50px; line-height:50px; cursor:pointer;}
.menu li:hover{ color:#333;}

.menu li.menulink{color:#333; font-size:21px; font-weight:normal;}
.future-list{ padding:10px 0px; }
.future-list ul{ overflow:hidden; width:100%;  }
.future-list ul li{ padding-bottom:10px; float:left; width:210px;height:215px; line-height:36px;  margin-right:10px;  font-size:12px; background:#f6f6f7;}
.list-title{ font-size:14px; text-align:center; display:block; color:#333; display:block; margin:0px; padding:0px; height:48px; line-height:48px;}
.gray{ color:#999;}
.list-alue{ font-size:16px;}
.future-list ul li table{}
.future-list ul li table td{ padding:0px 10px;}
.list-weatherbar{ padding-top:15px;}
.small{ font-size:12px; padding:1px 10px; color:#fff;}
.small1{ font-size:12px; padding:1px 10px; color:#000;}
.list-weather{ line-height:21px; font-size:12px;}

.yellow,.qingdu,.you,.zhongdu,.yanzhong,.zhong{ padding:1px 10px;}
.yanzhong{background:#6f0474;}
.zhong{ background:#ba1d26;}
.yellow{ background:#fac305;}
.qingdu{ background:#fd5b30;}
.you{ background:#72ca29;}
.zhongdu{background:#b414bb;}


/*城市空气质量比较*/
.containerbd{width: 1170px!important;}
.dtipbd{background: #2599e2;width: 10px;height: 26px;float: left;margin-right: 15px;margin-top: 4px;}
.subtitlebd{vertical-align: middle;color: #343434;font-weight: normal;color: #767874;font-size: 25px;float: left;}
.subtitlebd span{font-size: 16px;color: #e69e01;}
.subtitlebd span a{font-size: 16px;color: #e69e01;}
.subtitlebd a{color: #696969;text-decoration: none;font-size: 16px;font-weight: normal;}
.subtitlebd .subsubtitlebd{color:#86ce65;font-weight: normal;font-size: 26px;}
.subtitlebdhr{margin: 2px 0 8px 0;}
.subtitlebdright, .subtitlebdright a{text-align: right;font-size: 18px;color: #4a870a;margin-top: 5px;}
.subtitlebd small{font-size: 16px;}
.btngroupbd{margin:10px 0px;}
.aqichartbd{width:100%;height: 360px;}
.btnbd-info{background: #2599e2;}

/*周边城市*/
.p_around{font-size:12px; text-align:left;list-style: none;margin:0px;line-height: 18px;padding:0px;}
.td_around{color: white;font-size: 13px;width: 100px;padding: 0; }
.table_around_child{font-size:12px;width: 100%;}
.table_around_child tr{border-bottom: 1px solid white !important;}
.table_around_child td{text-align: center; background-color: #92d5f1;}
.div_a_info{position:absolute;width:180px;padding:5px;height:250px;display:none;z-index:999;background:white;color:#666;border-radius: 5px;}

/*未来5天趋势预报*/
.aftertime-title{ color:#a5d6ff; font-size:14px; }
.yellow-small{ background-color:#FFFF37;}
.qingdu-small{ background-color:#FF8000;}


