     <style type="text/css">
     .btn-group-lg>.btn, .btn-lg {
      font-size: 30px;
      font-style:italic;
     }
      .btn_my{
        padding:30px 15px;
        width: 5%;
        margin-right: 3%;
      }
    </style>
<div class="right_col" style="margin-top:0px; margin-bottom:1px; height:0px" role="main">
  <!-- top tiles -->
  <div class="row tile_count" style="margin:1px; padding:0px; height:0px">
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count" style="margin:0px; padding:0px; height:0px">
      <!-- <span class="count_top"><i class="fa fa-user"></i> Total Users</span> -->
      <!-- <span class="count_bottom"><i class="green">4% </i> From last Week</span> -->
    </div>
  </div>
  <!-- /top tiles -->
  <div class="">
    <!--
    <div class="page-title">
      <div class="title_left">
        <h3>方案模拟</h3>
      </div>
    </div>

    <div class="clearfix"></div>
    -->

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>效果评估</h2>
            <!--    <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul> -->
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <button type="button" class="btn btn-info btn_my">1</button>
            <button type="button" class="btn btn-info btn_my">2</button>
            <button type="button" class="btn btn-info btn_my">3</button>
            <button type="button" class="btn btn-info btn_my">4</button>
            <button type="button" class="btn btn-info btn_my">5</button>
            <button type="button" class="btn btn-info btn_my">6</button>
            <button type="button" class="btn btn-info btn_my">7</button>
            <button type="button" class="btn btn-info btn_my">8</button>
            <button type="button" class="btn btn-info btn_my">+</button>


            <table class="table table-bordered text-center">
              <thead>
                <tr>
                  <th class="text-center" colspan="17">重污染天气应急减排污染表</th>
                  
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td rowspan="2">序号</td>
                  <td rowspan="2">日期</td>
                  <td colspan="3">AQI</td>
                  <td colspan="3">PM2.5</td>
                  <td colspan="3">PM10</td>
                  <td colspan="3">NO2</td>
                  <td colspan="3">其他</td>
                </tr>
                <tr>
                  <td>预报值</td>
                  <td>实测值</td>
                  <td>下降率</td>
                  <td>预报值</td>
                  <td>实测值</td>
                  <td>下降率</td>
                  <td>预报值</td>
                  <td>实测值</td>
                  <td>下降率</td>
                  <td>预报值</td>
                  <td>实测值</td>
                  <td>下降率</td>
                  <td>预报值</td>
                  <td>实测值</td>
                  <td>下降率</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>X月X日</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>X月X日</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>X月X日</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>X月X日</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>X月X日</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
            <button type="button" class="btn btn-link btn-lg container">导出并打印</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
 
