<style type="text/css">
.title_right h3{color:#000066;  text-shadow:#446280 5px 1px 5px; }
.x_title h2{color:#000066;  text-shadow:#446280 1px 2px 1px;}
.x_title{border-radius:15px; border:1px solid #ccc;}
.panel{border:1px dashed #ccc; }
.hh{text-decoration: none;}
.hh:hover{text-decoration:underline;}
</style>
 <div class="right_col" role="main" style="min-height: 920px;">
          <div class="">
            <div class="page-title">
              <div class="title_right">
               <a href="#"><h3>郑州市应急预案一级响应实施后的总体评估</h3></a>
              </div>
      
            </div>

            <div class="clearfix"></div>

            <div class="row">
              
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2 style="font-size: 23px;">建议性减排措施</h2>
                    
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content" style="display: block;">

                    <!-- start accordion -->
                    <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
                      <div class="panel">
                        <a class="panel-heading collapsed hh" role="tab" id="headingOne" data-parent="#accordion" href="/palm_two/evaluation_page_three" target="_self" aria-expanded="false" aria-controls="collapseOne" title="合理安排幼儿园，中小学校等教育机构停课，停课不停学">
                         <h4 class="panel-title" style="font-size: 19px;">措施一</h4>
                        </a>
                      </div>
                      <div class="panel">
                        <a class="panel-heading collapsed hh" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#" aria-expanded="false" aria-controls="collapseTwo" title="倡导公众乘坐公共交通工具出行,减少机动车上路行驶。">
                          <h4 class="panel-title" style="font-size: 19px;">措施二</h4>
                        </a>
                      </div>
                      <div class="panel">
                        <a class="panel-heading collapsed hh" role="tab" id="headingThree" data-parent="#accordion" href="#" aria-expanded="false" aria-controls="collapseThree" title="减少机动车日间加油。">
                          <h4 class="panel-title" style="font-size: 19px;">措施三</h4>
                        </a>
                      </div>
                       <div class="panel">
                        <a class="panel-heading collapsed hh" role="tab" id="headingFour" data-parent="#accordion" href="#" aria-expanded="false" aria-controls="collapseFour" title="减少能源消耗,空调温度夏季调高2—4摄氏度,冬季调低2—4摄氏度。">
                          <h4 class="panel-title" style="font-size: 19px;">措施四</h4>
                        </a>
                      </div>
                       <div class="panel">
                        <a class="panel-heading collapsed hh" role="tab" id="headingFive" data-parent="#accordion" href="#" aria-expanded="false" aria-controls="collapseFive" title="减少涂料、油漆、溶剂等含挥发性有机物的原材料及产品的使用。">
                          <h4 class="panel-title" style="font-size: 19px;">措施五</h4>
                        </a>
                      </div>
                       <div class="panel">
                        <a class="panel-heading collapsed hh" role="tab" id="headingSix" data-parent="#accordion" href="#" aria-expanded="false" aria-controls="collapseSix" title="减少散烧煤使用量。">
                          <h4 class="panel-title" style="font-size: 19px;">措施六</h4>
                        </a>
                      
                      </div>
                    </div>
                    <!-- end of accordion -->


                  </div>
                </div>
              </div>


              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2 style="font-size: 23px;">强制性应急措施</h2>
                    
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <!-- start accordion -->
                    <div class="accordion" id="accordion1" role="tablist" aria-multiselectable="true">
                      <div class="panel">
                        <a class="panel-heading collapsed" role="tab" id="headingOne1" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1" aria-expanded="false" aria-controls="collapseOne">
                          <h4 class="panel-title" style="font-size: 21px;">扬尘污染减排措施</h4>
                        </a>
                        <div id="collapseOne1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
                          <div class="panel-body" style="font-size: 19px;">
                           <a href="#" class="hh"  title="施工工地停止室外施工作业"><p>措施一</p></a>
                           <div class="ln_solid"></div>
                           <a href="#" class="hh"  title="对城区主次干道、城乡结合部道路、重要国道省道市道县道在日常道路保洁频次的基础上，增加吸尘、清扫、洒水、喷雾等防治扬尘作业频次（非冰冻期）。"><p>措施二</p></a>
                           <div class="ln_solid"></div>
                           <a href="#" class="hh"  title="加强交通工程施工和公路运输监督管理，采取有效措施防治公路扬尘污染；负责国省干线和高速公路建设工地停工监管检查。"><p>措施三</p></a>
                          </div>
                        </div>
                      </div>
                      <div class="panel">
                        <a class="panel-heading collapsed" role="tab" id="headingTwo1" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo">
                          <h4 class="panel-title" style="font-size: 21px;">燃煤污染减排措施</h4>
                        </a>
                        <div id="collapseTwo1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false" style="height: 0px;">
                          <div class="panel-body" style="font-size: 19px;">
                            <a href="#" class="hh"  title="全市20蒸吨以下燃煤工业锅炉暂停使用"><p>措施一</p></a>
                            <div class="ln_solid"></div>
                            <a href="#" class="hh"  title="全市燃煤发电企业（热电联产企业在保证供热的前提下）实施分阶段轮流限制发电，未建成超低排放的机组使用应急备用优质煤或限产。"> <p>措施二</p></a>
                          </div>
                        </div>
                      </div>
                      <div class="panel">
                        <a class="panel-heading collapsed" role="tab" id="headingThree1" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1" aria-expanded="false" aria-controls="collapseThree">
                          <h4 class="panel-title" style="font-size: 21px;">工业污染减排措施</h4>
                        </a>
                        <div id="collapseThree1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false" style="height: 0px;">
                          <div class="panel-body" style="font-size: 19px;">
                           <a href="#" class="hh"  title="增加对重点大气污染源的执法检查频次，对重点污染源实施驻厂监管，对治理设施不能有效运行的，依法提请当地政府采取关停措施。"><p>措施一</p></a>
                           <div class="ln_solid"></div>
                           <a href="#" class="hh"  title="按照重污染天气Ⅰ级响应期间工业企业停产限产清单，工业企业采取限产停产等措施，确保二氧化硫、烟（粉）尘、氮氧化物排放量削减50%以上。"><p>措施二</p></a>
                           <div class="ln_solid"></div>
                           <a href="#" class="hh"  title="产生挥发性有机物的化工、印刷、工业涂料、家具、汽车制造等工业企业（VOCs排放企业）停产停业。"><p>措施三</p></a>
                          </div>
                        </div>
                      </div>
                       <div class="panel">
                        <a class="panel-heading collapsed" role="tab" id="headingFour1" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour1" aria-expanded="false" aria-controls="collapseFour">
                          <h4 class="panel-title" style="font-size: 21px;">机动车污染减排措施</h4>
                        </a>
                        <div id="collapseFour1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour" aria-expanded="false" style="height: 0px;">
                          <div class="panel-body" style="font-size: 19px;">
                           <a href="#" class="hh"  title="主城区实行大型货车、工程渣土车区域限行，引导过境车辆避开主城区行驶。"><p>措施一</p></a>
                           
                            <div class="ln_solid "></div> <a href="#" class="hh" title="实施社会车辆在城区内单、双号限行，特殊公共保障车辆除外（具体方案以公告为准）。"><p>措施二</p></a>
                            <div class="ln_solid"></div>
                             <a href="#" class="hh"  title="加大公交、地铁运力保障，加密营运班次，延长营运时间，增加清洁能源公交车的使用，倡导市民绿色出行。"><p>措施三</p></a>
                          </div>
                        </div>
                      </div>
                       <div class="panel">
                        <a class="panel-heading collapsed" role="tab" id="headingFive1" data-toggle="collapse" data-parent="#accordion1" href="#collapseFive1" aria-expanded="false" aria-controls="collapseFive">
                          <h4 class="panel-title" style="font-size: 21px;">其他污染减排措施</h4>
                        </a>
                        <div id="collapseFive1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive" aria-expanded="false" style="height: 0px;">
                          <div class="panel-body" style="font-size: 19px;">
                           <a href="#" class="hh"  title="其他污染减排措施加强执法检查，禁止农作物秸秆露天焚烧；露天烧烤和焚烧，未按要求安装油烟净化设施的餐饮单位停业；禁止燃放烟花爆竹。"><p>措施一</p></a>
                           <div class="ln_solid"></div>
                            <a href="#" class="hh"  title="根据气象条件采取可行的气象干预措施。"><p>措施二</p></a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- end of accordion -->


                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>