        <div class="right_col" role="main" style="min-height: 1048px;">
            <div class="page-title">
              <div class="title_left">
                <h3 style="color:#000066;  text-shadow:#446280 5px 1px 5px;">建议性减排措施一</h3>
              </div>

            </div>

            <div class="clearfix"></div>

            <div class="row">
           <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                 <div class="x_title">
                  <h2>一、预测值与真实值、减排模拟值的比较</h2>
                  <div class="clearfix"></div>
                </div>
                  <div class="x_content">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>AQI和污染物</th>
                          <th>预测值</th>
                          <th>真实值</th>
                          <th>减排后模拟值</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">AQI均值</th>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <th scope="row">PM2.5</th>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <th scope="row">PM10</th>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <th scope="row">SO2</th>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <th scope="row">NO2</th>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <th scope="row">CO</th>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
               <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                 <div class="x_title">
                  <h2>二、小时变化趋势图</h2>
                  
                  <div class="clearfix"></div>
                </div>
                  <div class="x_content">
                  <div class="btn-group">
                    <button class="btn btn-info active btngroup2" value="AQI" type="button">AQI</button>
                    <button class="btn btn-info btngroup2" value="SO2" type="button">SO2</button>
                    <button class="btn btn-info btngroup2" value="NO2" type="button">NO2</button>
                    <button class="btn btn-info btngroup2" value="CO" type="button">CO</button>
                    <button class="btn btn-info btngroup2" value="O2" type="button">O2</button>
                    <button class="btn btn-info btngroup2" value="PM25" type="button">PM2.5</button>
                    <button class="btn btn-info btngroup2" value="PM10" type="button">PM10</button>
                    </div>
                    <div id="linechart" style="width:100%;height:392px;">
                  </div>
                </div>
              </div>
           <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                 <div class="x_title">
                  <h2>三、AQI、污染物浓度统计量表</h2>
                  
                  <div class="clearfix"></div>
                </div>
                  <div class="x_content">
                  <div class="btn-group">
                    <button class="btn btn-info active btngroup3" type="button">AQI</button>
                    <button class="btn btn-info btngroup3" type="button">SO2</button>
                    <button class="btn btn-info btngroup3" type="button">NO2</button>
                    <button class="btn btn-info btngroup3" type="button">CO</button>
                    <button class="btn btn-info btngroup3" type="button">O3</button>
                    <button class="btn btn-info btngroup3" type="button">PM2.5</button>
                    <button class="btn btn-info btngroup3" type="button">PM10</button>
                   </div> 
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>平均偏差</th>
                          <th>平均误差</th>
                          <th>均方根误差</th>
                          <th>标准平均偏差</th>
                          <th>标准平均误差</th>
                          <th>相关系数</th>
                          <th>方差分析</th>
                          <th>t检验</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td></td><td></td><td></td>
                          <td></td><td></td><td></td>
                          <td></td><td></td>
                        </tr>
                        <tr>
                          <td></td><td></td><td></td>
                          <td></td><td></td><td></td>
                          <td></td><td></td>
                        </tr>
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>
 <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="x_panel">
                  <div class="x_title">
                  <h2>四、预测气象与实际气象的统计量报表</h2>
                  
                  <div class="clearfix"></div>
                </div>
                  <div class="x_content">
                  <div class="btn-group">
                    <button class="btn btn-info active btngroup4" type="button">温度</button>
                    <button class="btn btn-info btngroup4" type="button">湿度</button>
                    <button class="btn btn-info btngroup4" type="button">风速</button>
                  </div>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>平均偏差</th>
                          <th>平均误差</th>
                          <th>均方根误差</th>
                          <th>标准平均偏差</th>
                          <th>标准平均误差</th>
                          <th>相关系数</th>
                          <th>方差分析</th>
                          <th>t检验</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td></td><td></td><td></td>
                          <td></td><td></td><td></td>
                          <td></td><td></td>
                        </tr>
                        <tr>
                          <td></td><td></td><td></td>
                          <td></td><td></td><td></td>
                          <td></td><td></td>
                        </tr>
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>五、文字性的总结<small>（1000字）</small></h2>
                  
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">

                  <div class="bs-example" data-example-id="simple-jumbotron">
                    <div class="jumbotron">
                      <h1>主要气象数据的差异比较，污染物浓度的差异比较包括减排效果的描述</h1>
                      <!-- <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p> -->
                    </div>
                  </div>

                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
        <script type="text/javascript">
        function initBtnGroup(groupNumber,citynamepy){
          $('.btngroup'+groupNumber).click(function(){
          $('.btngroup'+groupNumber).removeClass('active');
           $(this).addClass("active");
           if(groupNumber==2)
           {
            getLineChartData($(this)[0].value,citynamepy);
           }

        });
        }
        function drawLineChart(container,lchartdata)
        {
          var dom = document.getElementById(container);
          var myChart = echarts.init(dom);
          var option = {
              title: {
                  text: 'AQI'
              },
              tooltip: {
                  trigger: 'axis'
              },
              xAxis: {
                  data: lchartdata.data.map(function (item) {
                      return item[0];
                  })
              },
              yAxis: {
                  splitLine: {
                      show: false
                  }
              },
              toolbox: {
                  left: 'center',
                  feature: {
                      dataZoom: {
                          yAxisIndex: 'none'
                      },
                      restore: {},
                      saveAsImage: {}
                  }
              },
              dataZoom: [{
                  startValue: '2000-06-05'
              }, {
                  type: 'inside'
              }],
              visualMap: {
                  top: 10,
                  right: 10,
                  pieces: [{
                      gt: 0,
                      lte: 50,
                      color: '#096'
                  }, {
                      gt: 50,
                      lte: 100,
                      color: '#ffde33'
                  }, {
                      gt: 100,
                      lte: 150,
                      color: '#ff9933'
                  }, {
                      gt: 150,
                      lte: 200,
                      color: '#cc0033'
                  }, {
                      gt: 200,
                      lte: 300,
                      color: '#660099'
                  }, {
                      gt: 300,
                      color: '#7e0023'
                  }],
                  outOfRange: {
                      color: '#999'
                  }
              },
              series: {
                  name: 'AQI',
                  type: 'line',
                  data: lchartdata.data.map(function (item) {
                      return item[1];
                  }),
                  markLine: {
                      silent: true,
                      data: [{
                          yAxis: 50
                      }, {
                          yAxis: 100
                      }, {
                          yAxis: 150
                      }, {
                          yAxis: 200
                      }, {
                          yAxis: 300
                      }]
                  }
              }
          };
          myChart.setOption(option, true);
          window.onresize = function(){
            myChart.resize();
        };
        }
        function getLineChartData(factor,citynamepy){
          $.ajax({            
            url: '/palm_two/evaluation_page_three',
            data:{
                'factor':factor,
                'citynamepy':citynamepy
              },
            type: "get",
            dataType : "json",            
            success: function (lchartdata) {
              drawLineChart('linechart',lchartdata);
             }
          });

        }
        $(document).ready(function() {
          var citynamepy='<%= @citynamepy %>';
          for(var i=2;i<5;i++)
          {
            if(i==2)
            {
              initBtnGroup(i,citynamepy);
            }
            else
            {
              initBtnGroup(i);
            }
          }
          getLineChartData('AQI',citynamepy);
          });
        </script>