// Place all the styles related to the langfang controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-banner{
	background: image_url('bg.jpg')
}
.center{
	text-align:center;
}
.title{
	margin-top:30px;
	font-size:60px;
	color:#FFFFFF;
	font-family:微软雅黑;
}
.t-t{
	color:#333333;
	height:36px;
	line-height:36px;
	border-bottom:1px solid #ddd;
	a{
		font-size: 12px;
		display: inline-block;
		float: left;
		line-height: 25px;
		height: 25px;
		text-decoration: none;
		margin: 5px 0 0 5px;
		padding: 0 12px;
		background-color: #eaeaea;
		color: #666;
		&:hover,&.cur{
			color: #fff;
			background-color: #7ca9e6;
			text-decoration: none;
		}	
	}
}
#forcastfive
{
	font-family:'微软雅黑';
	border: 3px solid #E3E9EC;
	border-collapse:collapse;
}
#forcastfive td, #forcastfive th
{
	font-size:1em;
	padding:3px 7px 2px 7px;
}
#forcastfive th
{
	font-size:1.1em;
	text-align:left;
	padding-top:5px;
	padding-bottom:4px;
	background-color:#30A6E5;
	color:#ffffff;
}
#forcastfive tr.alt td
{
	color:#000000;
}
