// Place all the styles related to the langfang controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-banner{
	background: image_url('bg.jpg')
}
body{ background-size: 100% 100%;
			background-repeat: no-repeat;
			 background-attachment: fixed;}
.center{
	text-align:center;
}
.title{
	margin-top:100px;
	font-size:60px;
	color:#FFFFFF;
	font-family:微软雅黑;
	padding-bottom:100px
}
.top11-title{ font-family:"微软雅黑"; font-size:24px; padding-left:20px; font-weight:normal;}
.t-t{
	color:#333333;
	height:36px;
	line-height:36px;
	border-bottom:1px solid #ddd;
	a{
		font-size: 12px;
		display: inline-block;
		float: left;
		line-height: 25px;
		height: 25px;
		text-decoration: none;
		margin: 5px 0 0 5px;
		padding: 0 12px;
		background-color: #eaeaea;
		color: #666;
		&:hover,&.cur{
			color: #fff;
			background-color: #7ca9e6;
			text-decoration: none;
		}	
	}
}
#forcastfive
{
	font-family:'微软雅黑';
	border: 3px solid #E3E9EC;
	border-collapse:collapse;
}
#forcastfive td, #forcastfive th
{
	font-size:1em;
	padding:3px 7px 2px 7px;
}
#forcastfive th
{
	font-size:1.1em;
	text-align:left;
	padding-top:5px;
	padding-bottom:4px;
	background-color:#30A6E5;
	color:#ffffff;
}
#forcastfive tr.alt td
{
	color:#000000;
}
.t-c{
	text-align:center;
	img{
		width:80%;
	}
}
.row{
	padding-left:70px;
	padding-right:70px;
}

// 空气质量预报begin
.future-list{
	padding:10px 0px;
	ul{
		overflow:hidden; width:100%;
		li{
			.list-title{ font-size:14px; text-align:center; display:block; color:#333; display:block; margin:0px; padding:0px; height:48px; line-height:48px;}
			.gray{ color:#999;}
			.list-alue{ font-size:16px;}
			padding-bottom:10px; 
			padding-left:10px; 
			float:left;
			width:240px;
			height:255px;
			line-height:36px; 
			margin-right:10px;
			margin-left:70px;
			font-size:12px;
			background:rgba(174, 232, 255, 0.3);
			table{
				td{
					padding:0px 10px;
				}
				.yellow,.qingdu,.you,.zhongdu,.yanzhong,.zhong{padding:1px 10px;}
				.yanzhong{background:#6f0474;}
				.zhong{ background:#ba1d26;}
				.yellow{ background:#fac305;}
				.qingdu{ background:#fd5b30;}
				.you{ background:#72ca29;}
				.zhongdu{background:#b414bb;}
				.list-weatherbar{ padding-top:15px;}
				.small{ font-size:12px; padding:1px 10px; color:#fff;}
				.smallforcast{ font-size:12px; padding:1px 10px; color:#000;}
				.small1{ font-size:12px; padding:1px 10px; color:#000;}
				.list-weather{ line-height:21px; font-size:12px;}
			}
		} 
	} 
}

// 空气质量预报end
